* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: poppins, sans-serif;
}

:root {
    --blue : #11345C;
    --grey : #707070;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: white;
}

header .primary-navigation { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid; */
    max-width: 1200px;
}

header .primary-navigation .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

header .primary-navigation .menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    overflow: hidden;
    background: inherit;
}

header .primary-navigation .menu .logo img {
    object-fit: cover ;
    object-position: center;
    height: 100%;
    width: 100%;
}

header .primary-navigation .menu li a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

header .primary-navigation .menu li a:hover {
    color: var(--blue);
}

header .primary-navigation .menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    header .primary-navigation .menu-toggle {
        display: block;
        font-size: 20px;
        opacity: 1;
        pointer-events: auto;
        cursor: pointer;
    }

    header .primary-navigation .menu {
        display: none;
    }
}



/* ########### */
section {
    padding-inline: 10px !important;
}

section .container,
footer .container {
    width: min(1200px, 100%);
    /* border: 1px solid; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Hero Section */
section#hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

section#hero .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

section#hero .container .col {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* padding: 45px 10px; */
    padding-block: 20px;
    gap: 15px;
}

section#hero .container .col h1 {
    font-size: 50px;
    line-height: 52px;
}

section#hero .container .col p {
    font-size: 18px;
    font-weight: 300;
    color: var(--blue);
}

section#hero .container .col a.btn {
    text-decoration: none;
    background: var(--blue);
    width: 120px;
    height: 35px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}


/* About Section */
section#about {
    background: var(--blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    padding-block: 20px;
}

section#about .container {
    text-align: center;
}

section#about .container h3 {
    font-size: 35px;
}

section#about .container h3 span {
    font-family: Archivo;
}

section#about .container p {
    font-size: 20px;
}


/* Services Section */
section#services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

section#services h4 {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

section#services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

section#services .container .service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

section#services .container .service:hover {
    background: #70707030;
    transform: translateY(-5px);
    box-shadow: 3px 3px 6px var(--grey);
}

section#services .container .service .icon {
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Feedback Section */
section#feedback {
    display: flex;
    align-items: center;
    justify-content: center;
}

section#feedback .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

section#feedback .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: min(450px, 100%);
    width: 100%;
    max-width: 450px;
    margin: auto;
    /* padding: 10px; */
}

section#feedback .container form input,
section#feedback .container form select {
    width: 100%;
    height: 35px;
    padding: 0 0 0 10px ;
    outline: none;
    font-family: poppins, sans-serif;
}

section#feedback .container form button {
    width: 120px;
    height: 35px;
    background: green;
    color: white;
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: poppins, sans-serif;
    cursor: pointer;
}


/* Footer Section */
footer {
    background: var(--blue);
    color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 20px;
    color: white;
    padding: 10px;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer .container .col:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .container .col .image-container {
    height: 100px;
}


footer .container .col ul {
    list-style: none;
}

footer .container .col ul li h5 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

footer .container .col ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

footer .container .col ul li a:hover span {
    text-decoration: underline;
}